mixin logo(data)
	- img = data.img;
	- type = data.type;
	- href = data.href;
	- label = data.label;
	- width = data.width;
	- height = data.height;
	- altText = data.altText;

	a(class='logo' href=href aria-label=label)&attributes(attributes)
		img(src=`${assetsImage}${img}.${type}` alt=altText)
