mixin logo(params)
	- img = params.img;
	- type = params.type;
	- href = params.href;
	- label = params.label;
	- width = params.width;
	- height = params.height;
	- altText = params.altText;

	a(class='logo' href=href aria-label=label)&attributes(attributes)
		img(src=`${assetsImage}${img}.${type}` width=width height=height alt=altText)
